<div class="title">{{title}}</div>

<nav>
  <a [routerLink]="'/'" routerLinkActive="active">Home</a>
  <a [routerLink]="'/table'" routerLinkActive="active">View Table Component</a>
  <a [routerLink]="'/binding'" routerLinkActive="active">Binding Demo</a>
  <a [routerLink]="'/hero-list'" routerLinkActive="active">Service Demo</a>
  <a *mackeyFeatureToggle="'advancedCourseContent'" [routerLink]="'/advanced-course'" routerLinkActive="active">Advanced Course</a>
</nav>

<router-outlet></router-outlet>